
<h1>Meus arquivos </h1>
<hr/>

<table  style="width:70%">

<tr>
  <td> Files </td>
  <td> Última Modificação </td>
  <td> Criação </td>
</tr>

<p> <% @directories.each do |d|  %>
      <tr>
      <%=form_tag :action => 'files', :method => 'POST' do%>
        <%= hidden_field_tag(:parent_id, d) %>
        <td> <%= submit_tag d %> </td>

      <% end %>
    </tr>
    <% end %>
</p>

<p><% @files.each do |f|%>
    <tr>
    <% @qwerty = f %>
    <td> <%= f.split("/").last %> </td>
    <td> <%= @file_modification[f].split("+").first %> </td>
    <td> <%= @file_creation[f].split("+").first %> </td>
    <td> <%= link_to("Download", @client.media(f)['url']) %> </td>
  </tr>
  <% end %>
</p>

</table>

<hr/>
<h2>Upload </h2>
<hr/>
<%= form_tag({action: :files}, multipart: true) do %>

  <%= hidden_field_tag(:parent_id, @root) %>
  <%= hidden_field_tag(:fil, @files) %>
  <%= file_field_tag 'file' %> <br/>
  <%= submit_tag "upload" %>
<% end %>

<%= form_tag :action => 'files' do%>
  <%= hidden_field_tag(:parent_id, @root) %>
  <%= text_field_tag (:folder_name) %>
  <%=  submit_tag 'criar pasta'%>
<% end %>

<p> Dude<%= @dude %></p>

<p>Dud1<%= @dud1 %></p>


<%# @client.media(@qwerty)['url'].split("/").last %>
