
<p>
  <% unless $root == '/' or $root.split('/') == []%>
  <%= form_tag :action => 'navigation_params' do%>
  <%= hidden_field_tag(:parent_id, $root.split('/')[1...-1].join) %>
  <%= submit_tag "Voltar"%>
  <% end %>
  <% end %>
</p>
<h1>Meus arquivos </h1>
<hr/>

<table  style="width:70%">

<tr>
  <td> <b>Files</b> </td>
  <td> <b>Última Modificação</b> </td>
  <td> <b>Criação</b> </td>
  <td> </td>
  <td> <b>Renomear</b> </td>
</tr>


  <p> <% ($show[($offset*($page-1))+1...($offset*($page-1))+1+$offset]).each do |d|  %>
    <% if $directories.include? d %>
      <tr>
      <%=form_tag :action => 'navigation_params', :method => 'POST' do%>
        <%= hidden_field_tag(:parent_id, d) %>
        <td> <%= submit_tag d.split("/").last %> </td>
        <% end %>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> <!-- form_tag to rename the directory -->
        <%= form_tag :action => 'navigation_params' do%>
          <%= hidden_field_tag(:parent_id, $root) %>
          <%= hidden_field_tag(:rename_old_name, d) %>
          <%= text_field_tag (:rename_new_name) %>
          <%= submit_tag "Renomear"%>
          <% end %>
        </td>
    </tr>
    <% else %>
    <tr>
    <td> <%= d.split("/").last %> </td> <!-- Show just the last part of the path, it means show just the file's name -->
    <td> <%= $file_modification[d].split("+").first %> </td> <!-- Do not show the last numbers, they're useless for the user -->
    <td> <%= $file_creation[d].split("+").first %> </td>
    <td> <%= link_to("Download", $client.media(d)['url']) %> </td>
    <td>
      <%= form_tag :action => 'navigation_params' do%>
      <%= hidden_field_tag(:parent_id, $root) %>
      <%= hidden_field_tag(:rename_old_name, d) %>
      <%= text_field_tag (:rename_new_name) %>
      <%= submit_tag "Renomear"%>
      <% end %> </td>
    <td><%= form_tag :action => 'navigation_params' do%>
      <% dir = ['..'] %>
      <% $directories.each do |d|%>
      <% dir << d.split('/').last %>
      <% end %>
      <%= hidden_field_tag(:parent_id, $root) %>
      <%= hidden_field_tag(:move_from, d) %>
      <%= select_tag "move_to", options_for_select(dir)%>
      <%= submit_tag 'Mover Para: '%>
      <% end %>
    </td>
    </tr>
    <% end %>
    <% end %>
</p>

</table>


<hr/>
<h4>Página </h4>
<%# Form para torcar de página%>
<% for i in 1..$pages do%>
<%= form_tag :action => 'navigation_params' do%>
<%= hidden_field_tag(:parent_id, $root) %>
<%= hidden_field_tag(:page, i) %>
<%= submit_tag i %>
<% end %>
<% end %>

<hr/>
<h2>Upload </h2>
<hr/>
<%= form_tag({action: :navigation_params}, multipart: true) do %>
  <%= hidden_field_tag(:parent_id, $root) %>
  <%= hidden_field_tag(:fil, $files) %>
  <%= file_field_tag 'file' %> <br/>
  <%= submit_tag "upload" %>
<% end %>


<%= form_tag :action => 'navigation_params' do%>
  <%= hidden_field_tag(:parent_id, $root) %>
  <%= text_field_tag (:folder_name) %>
  <%=  submit_tag 'criar pasta'%>
<% end %>

<p>$show: <%= $page %> <%= $page.class %> </p>
