<!doctype html>

<html lang="pt">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Arquivos</title>

		<%= stylesheet_link_tag "https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-light_blue.min.css" %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
		<%= stylesheet_link_tag "main" %>

		<%= javascript_include_tag "modernizr-2.8.3-respond-1.4.2.min.js" %>

	</head>
	<body>
	        <div id ="main-content" class="mdl-grid mdl-grid--no-spacing">

	        	<div id="arquivo">
		        	<div class="mdl-cell mdl-cell--12-col mdl-color--indigo-900 mdl-color-text--grey-100">
		        	<h1>Arquivos</h1>
		        	<span class="bottom-aligned-text"> MC Files > Finances </span>
		        	<nav class="mdl-navigation">
			        	<ul>
			        		<li><button id="btnadd1" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent fab-top-right">
				            <i class="material-icons mdl-color-text--white">file_upload</i></i>
			            	</button></li>
				            	<div class="mdl-tooltip" for="btnadd1">
								Adicionar arquivo
								</div>
			            	<li><button id="btnadd2" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent fab-top-right">
				            <i class="material-icons mdl-color-text--white">folder</i>
			            	</button></li>
			            		<div class="mdl-tooltip" for="btnadd2">
								Adicionar pasta
								</div>
			            </ul>
			        </nav>
		        </div>

		        	<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
						<table class="mdl-data-table mdl-js-data-table mdl-color--grey-100">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Data de Criação</th>
									<th>Data de modificação</th>
									<th>Tamanho</th>
									<th>Tipo</th>
									<th>Autor</th>
									<th>Versões</th>
								</tr>
							</thead>

							<% unless $show == []%>
							<% ($show[($offset*($page-1))...($offset*($page-1))+1+$offset]).each do |d|  %>
							<% if $directories.include? d %>
							<tbody>
								<tr>

									<%=form_tag :action => 'navigation_params', :method => 'POST' do%>
						        <%= hidden_field_tag(:parent_id, d) %>
						        <%= hidden_field_tag(:page, 1) %>
						        <td> <%= submit_tag d.split("/").last %> </td>
						        <% end %>

									<td> </td>
									<td> </td>
									<td> </td>
									<td> </td>
									<td> </td>
									<td> </td>
									<td> </td>
									<td>
										<%= form_tag :action => 'navigation_params' do%>
					          <%= hidden_field_tag(:parent_id, $root) %>
					          <%= hidden_field_tag(:rename_old_name, d) %>
					          <%= text_field_tag (:rename_new_name) %>
					          <%= submit_tag "Renomear"%>
					          <% end %>
									</td>
								</tr>

								<% else %>

								<tr>
									<td> <%= d.split("/").last %> </td>
									<td> <%= $file_creation[d].split("+").first %> </td>
									<td> <%= $file_modification[d].split("+").first %> </td>
									<td> 100kb </td>
									<td> PDF </td>
									<td> <%= @owner = Archive.where(name: d.split('/').last).pluck(:owner)[0]%> </td>
									<td>1</td>
									<td>
										<%= link_to("Download", $client.media(d)['url']) %>
									</td>
									<td>

									</td>

							</tbody>
							<% end %>
							<% end %>
							<% end %>
						</table>
					</div>
				</div>
			</div>

	<%= javascript_include_tag "material.min.js" %>
  <%= javascript_include_tag "jquery-2.1.4.min.js" %>
	</body>
</html>
