
<h1>Meus arquivos </h1>
<hr/>


<p> <% @directories.each do |d|  %>

      <%=form_tag :action => 'files', :method => 'POST' do%>
        <%= hidden_field_tag(:parent_id, d) %>
        <%= submit_tag d %>
      <% end %>
    <% end %>
</p>

<p><% @files.each do |f|%>
    <% @qwerty = f %>
    <%= f.split("/").last %>  <%= link_to("Download", @client.media(f)['url']) %> <br/>
  <% end %>
</p>

<hr/>
<h2>Upload </h2>
<hr/>
<%= form_tag({action: :files}, multipart: true) do %>

  <%= hidden_field_tag(:parent_id, @root) %>
  <%= file_field_tag 'file' %> <br/>
  <%= submit_tag "upload" %>

<% end %>

<%# @up.original_filename %>


<%# @client.media(@qwerty)['url'].split("/").last %>
